<div class="content">
    <span class="route_1">Tarjetas Visa Dispensadores / <span
            class="route_2">Solicitud tarjetas</span></span>

    <h2>SOLICITUD DE TARJETAS</h2>

    <form [formGroup]="searchForm">

        <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>
            <input type="text" matInput placeholder="Buscar"
                formControlName="search" disable>
        </mat-form-field>

    </form>

    <form [formGroup]="filterForm">

        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Tipo de personaje</mat-label>
            <input matInput formControlName="type">
        </mat-form-field>

    </form>

    <button mat-raised-button class="btn_clear_filters"
        (click)="clearFilters()">Limpiar filtros</button>
    <button mat-raised-button class="btn_search" (click)="listCharacters(page)">Buscar</button>
    <div class="content_btn_request_card">
        <button mat-raised-button class="btn_request_card">Solicitar tarjetas</button>
    </div>

    <div class="table-responsive">
        <table mat-table [dataSource]="characters" class="table
            mat-elevation-z2">

            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef> Avatar </th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="element.image" class="img-fluid user_img"
                        alt="...">
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Nombre:</span>
                    {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Estado:</span>
                    {{element.status}}
                </td>
            </ng-container>

            <ng-container matColumnDef="species">
                <th mat-header-cell *matHeaderCellDef> Especie </th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Especie:</span>
                    {{element.species}}
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Tipo:</span>
                    {{element.type}}
                </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Genero </th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Genero:</span>
                    {{element.gender}}
                </td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Ubicación:</span>
                    {{element.location.name}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsPeople"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPeople;"></tr>
        </table>
        <mat-paginator hidePageSize="true" (page)="changePage($event)"
            #paginator></mat-paginator>
    </div>
</div>
