.content {
    padding: 50px;
    height: calc(100vh - 164px);
    overflow: auto;

    .route_1 {
        font-weight: 500;
        font-size: 18px;

        .route_2 {
            color: var(--color_1);
        }
    }

    h2 {
        font-size: 25px;
        margin-top: 40px;
        font-weight: 500;
        color: var(--color_1);
    }

    form {
        margin-bottom: 20px;
    }

    mat-form-field {
        margin-right: 15px;
    }

    .btn_clear_filters,
    .btn_request_card {
        border-color: var(--color_1);
        border-style: revert;
        color: var(--color_1);
        border-width: 1px;
        margin-right: 20px;
        width: 140px;
    }

    .btn_search {
        width: 140px;
        background: var(--color_1);
        color: white;
    }

    .content_btn_request_card {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }

    table {
        min-width: 522px;
        width: 100%;
        margin-top: 20px;

        .mat-header-cell {
            background: var(--color_1);
            color: white !important;
        }

        img {
            border-radius: 30px;
            width: 60px;
            margin-top: 5px;
        }

        .mobile-label {
            display: none;
        }
    }

    .mat-paginator{
        min-width: 522px;
    }
}

@media (max-width: 700px) {
    .mobile-label {
        width: 80px;
        display: inline-block !important;
        font-weight: bold;
    }

    .mat-header-row {
        display: none;
    }

    .mat-row {
        display: grid;
        width: 100%;
        height: auto;

        padding: 8px 24px;
    }
}
