.main_container {
    height: 100vh;
    display: flex;

    .info_container {
        width: 40vw;
        height: 100vh;
        background: #001b24;
        color: #c4f6dc;
        text-align: center;
        font-size: 25px;
        align-content: space-around;
        display: grid;
        justify-content: center;

        line-height: 100%;

        h1 {
            font-weight: 500;
            font-size: 30px;
        }

        img {
            width: 310px;
        }
    }

    .form_container {
        width: 60vw;
        height: 100vh;
        background: #f2f2f2;
        display: flex;
        justify-content: center;

        .register_label {
            position: absolute;
            top: 50px;
            right: 150px;
            font-size: 18px;

            .register_span {
                cursor: pointer;
                font-weight: 500;
                color: #001b24;
            }
        }

        form {
            height: 100%;
            width: 60%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            span {
                align-self: flex-start;
                color: #001b24;
                font-size: 28px;
                font-weight: 500;
                margin-bottom: 30px;
                line-height: 100%;
            }

            mat-form-field {
                width: 100%;
            }

            .alert_message{
                color: red;
                font-size: 14px;
            }

            mat-checkbox {
                color: #001b24;
                font-weight: 500;
                align-self: flex-start;
            }

            button{
                padding-left: 70px;
                padding-right: 70px;
                color: white;
                background: #001b24;
                border-radius: 20px;
                margin-top: 40px;
                margin-bottom: 30px;
            }

            .mat-button-disabled{
                background: gray;
            }

            .forgot_password_label{
                align-self: center;
                cursor: pointer;
                font-weight: 500;
                color: #001b24;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 900px) {
    .info_container {
        display: none !important;
    }

    .form_container {
        width: 100vw !important;

        .register_label {
            position: absolute !important;
            right: 15px !important;
            text-align: center;
        }
    }
}

@media (max-width: 350px) {
    .register_label {
        position: absolute !important;
        right: 0px !important;
        text-align: center;
    }
}
