<div class="main_container">

    <div class="info_container">

        <h1>
            ¡Bienvenido a la
            <br>
            herramienta de
            <br>
            registro Coink!
        </h1>

        <img class="img_login" src="../../../assets/image_login_1.png">

        <p>
            Coink para tu dia a dia.
            <br>
            Empieza ahorrando y
            <br>
            Cumple tus sueños con
            <br>
            propósito
        </p>

        <img class="img_login" src="../../../assets/image_login_2.png">

    </div>

    <div class="form_container">

        <div class="register_label">
            <span>
                ¿Aún no tienes una cuenta?
                <span class="register_span">Registrate ahora</span>
            </span>
        </div>

            <form [formGroup]="loginForm">
                <span>Iniciar sesión en Coink</span>
    
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput placeholder="Placeholder"
                        formControlName="email">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error>Ingrese un correo valido</mat-error>
                </mat-form-field>
    
    
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Password" [type]="hide ? 'password'
                        : 'text'" formControlName="password" required>
                    <mat-icon matSuffix (click)="hide= !hide">{{hide ?
                        'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint *ngIf="!passwordInput?.value">Ingresa tu contraseña</mat-hint>
                </mat-form-field>

                <span class="alert_message" *ngIf="alert">Este usuario no existe</span>

                <mat-checkbox>Recordarme</mat-checkbox>

                <button mat-raised-button (click)="login()" [disabled]="!loginForm.valid">Iniciar sesión</button>

                <span class="forgot_password_label">¿Olvidaste tu contraseña?</span>
    
            </form>

    </div>

</div>