<mat-sidenav-container>
    <mat-sidenav class="" #sidenav="matSidenav"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">

        <mat-toolbar>

            <img src="../../../assets/coink_logo.png">

        </mat-toolbar>

        <div class="sidenav_container">

            <div class="image_container">

                <div class="avatar mat-elevation-z8"></div>

            </div>

            <div class="name_container">
                <mat-icon>lock</mat-icon>
                <span class="name">Jeff</span>
            </div>

            <mat-divider></mat-divider>

            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState= true"
                    (closed)="panelOpenState= false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Tarjetas Visa en dispensadores
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item>
                            <a>Crear dispensador</a>
                        </mat-list-item>
                        <mat-list-item>
                            <a>Monitorear y editar dispensadores</a>
                        </mat-list-item>
                        <mat-list-item routerLink="card-requests" routerLinkActive="item_active">
                            <a>Solicitud tarjetas</a>
                        </mat-list-item>
                      </mat-list>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-card routerLink="login">
                <mat-card-content>
                    <mat-icon>logout</mat-icon>
                    <span>Cerrar sesión</span>
                    
                </mat-card-content>
              </mat-card>

        </div>


    </mat-sidenav>

    <mat-sidenav-content class="sidenav_content">
        <mat-toolbar>
            <button mat-icon-button (click)="sidenav.toggle()"
                class="btns_toolbar">
                <mat-icon>menu</mat-icon>
            </button>

            <span>
                BACKOFFICE
            </span>

            <button mat-icon-button color="accent" class="btns_toolbar">
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>